<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="oryksmower">

   <gazebo reference="base_link">
      <turnGravityOff>false</turnGravityOff>
   </gazebo>

   <gazebo reference="chassis">
      <material>Gazebo/White</material>
      <turnGravityOff>false</turnGravityOff>
   </gazebo>

</robot>